<ion-view view-title="Chat" cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button>
</ion-nav-buttons>

<ion-content class="hideScroll" overflow-scroll=true scroll-sista="tabs" style="background-color: #ffffff;">
<!-- Tab navigation -->
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light bar-subheader">
  <div class="tabs" style="background:#4DB6AC;top:0px;border:none;">
    <a class="tab-item" ng-click="showme=false" ng-class="{'active':showme == false}">
      <i class="mdi mdi-message" style="font-size:25px;margin-top: 13px"></i>
    </a>
    <a class="tab-item" ng-click="showme=true" ng-class="{'active':showme == true}">
      <i class="mdi mdi-account-multiple" style="font-size:25px;margin-top: 13px"></i>
    </a>
  </div>
</div>

<!-- Fake button for search -->
<!-- <button ng-click="searchmessage = !searchmessage; filterbutton = false" id="searchmessage" style="display:none"></button> -->
<!-- Search box -->
<!-- <div class="bar item-input-inset" style="border:none; margin-top:5px" ng-show="searchmessage">
  <i class="icon ion-ios-search placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:11px;"></i><input id="search" type="text" placeholder=" Search..." ng-model="search" style="width:100%; height:60px;" />
</div> -->

<!-- List of last messages -->
<div class="list" ng-hide="showme">
  <!-- White area -->
  <!-- <div ng-hide="searchmessage"></div> -->
  <!-- White space -->
  <!-- <div style="height: 5px"></div> -->
  <!-- Data of messages -->
  <a ng-if="recentMessage.length != '0'" class="item item-avatar" ng-repeat="data in recentMessage | filter:search" style="border-bottom:1px solid #f8f8f8; background:white;" ng-click="ReadMessage('{{data.id}}','{{menuProfile.username}}','{{data.receiver}}')">
    <img src="img/profile3.png" ng-src={{data.receiver_photo}}>
    <div style="padding-top: 3px">
    <h2 style="margin-left: -26px;" ng-hide="data.receiver_name === menuProfile.username">{{data.receiver_name}}</h2>
    <h2 style="margin-left: -26px;" ng-show="data.receiver_name === menuProfile.username">{{data.sender_name}}</h2>
    <p style="margin-left: -26px; margin-top: -2px;">{{data.content}}</p>
    <p style="margin-left: 170px; margin-top: -40px;margin-bottom: 10px;">{{data.date | date:'hh:mm a'}}</p>
    </div>
    <i ng-if="data.receiver_name!==null" ng-show="unreadMessage != 0" class="pull-right"  style="color: #ffffff; margin-top: -32px;background-color: #4db6ac; border-radius: 50px; height: 20px; width: 20px; text-align: center; margin-right: -10px; font-size: 10px;padding-top: 1px;">{{unreadMessage}}</i>
  </a>
  <p ng-if="recentMessage.length == '0'" style="text-align:center;font-size:16px;margin-top:200px;">No Chat Activity</p>
</div>
<!-- List of contacts-->
<div class="list" ng-show="showme" ng-click="getTeamSquad()">
  <!-- White area -->
  <div ng-hide="searchmessage"></div>
  <!-- Data of chats -->
  <a ng-if="teamSquadArr.length != '0'" ng-repeat="data in teamSquadArr" ng-show="data.username !== menuProfile.username" class="item item-avatar" style="border-bottom:2px solid #f0efef;" ng-click="goToChatDetail('{{data.username}}')">
   <img src="img/profile3.png" ng-src={{data.photo}}>
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px; width:100px;">{{data.username}}</h2>
    <p style="margin-left: -26px; margin-top: -2px;">{{data.role}}</p>
    </div>
  </a>
  <p ng-if="teamSquadArr.length == '0'" style="text-align:center;font-size:16px;margin-top:200px;">No Contact</p>
</div>

</ion-content>
</ion-view>


