<ion-view view-title="Create Training" hide-back-button="true" text-center cache-view="false">
<!-- Back button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="backToTraining()" style="font-size:25px"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<button class="button button-clear icon-button mdi mdi-send" ng-click="createTraining()" style="min-height:44px;font-size:20px;margin-top:2px;"></button>
</ion-nav-buttons>
<ion-content class="hideScroll" overflow-scroll=false scroll-sista="tabs" style="background-color:#fff;">
<!-- Form post -->
<form method="post" enctype="text/plain" style="padding-top: 10px">
  <label class="item item-input content-border" style="padding:0">
      <div class="input-label" style="font-weight:unset; padding-left:15px;">Training Date</div>
      <input type="date" id="compStart" style="margin-right:-20px;padding-left:90px;" ng-model="data.comp_start">
  </label>
  <label class="item item-input content-border" style="padding:0">
     <input type="text" id="compLocation" style="font-size:16px;resize:none;margin-top:10px;padding-left:16px;padding-right:16px;" placeholder="Training Time" ng-model="data.comp_location">
  </label>
  <label class="item item-input content-border" style="padding:0">
      <input type="text" id="compLocation" style="font-size:16px;resize:none;margin-top:10px;padding-left:16px;padding-right:16px;" placeholder="Training Location" ng-model="data.comp_location">
  </label>
</form>
</ion-content>
</ion-view>