<ion-view view-title="Choose Lineup" hide-back-button="true" text-center cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="backToLineup()" style="font-size:25px"></button>
</ion-nav-buttons>
<!-- Update Button -->
<ion-nav-buttons side="right">
<button class="button button-clear icon-button mdi mdi-check" ng-click="editProfile()" style="min-height:44;font-size:25px"></button>
</ion-nav-buttons>
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content class="hideScroll" overflow-scroll=true scroll-sista="tabs" style="background-color:#ececec;">
<p style="padding-left: 16px;padding-top: 22px;font-size: 18px;font-weight: bold;">Line up</p>
<!-- Form post -->
<form method="post" enctype="text/plain" style="padding: 6px;">
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Goal Keeper</div>
      <select ng-model="lineup.goalkeeper" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">Cech</option>
        <option value="Defender" style="color:black;">De Gea</option>
        <option value="Striker" style="color:black;">Casillas</option>
      </select>
  </label>
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Defender</div>
      <select ng-model="lineup.defender" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">Hector Bellerin</option>
        <option value="Defender" style="color:black;">Kyle Walker</option>
        <option value="Striker" style="color:black;">Sergio Ramos</option>
      </select>
  </label>
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Attacker</div>
      <select ng-model="lineup.attacker" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">Messi</option>
        <option value="Defender" style="color:black;">Ronaldo</option>
        <option value="Striker" style="color:black;">Neymar</option>
      </select>
  </label>
   <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Defender</div>
      <select ng-model="lineup.defender2" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">Hector Bellerin</option>
        <option value="Defender" style="color:black;">Kyle Walker</option>
        <option value="Striker" style="color:black;">Sergio Ramos</option>
      </select>
  </label>
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Attacker</div>
      <select ng-model="lineup.attacker2" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">Messi</option>
        <option value="Defender" style="color:black;">Ronaldo</option>
        <option value="Striker" style="color:black;">Neymar</option>
      </select>
  </label>
</form>
<p style="padding-left: 16px;padding-top: 22px;font-size: 18px;font-weight: bold;">Substitute Players</p>
<!-- Form post -->
<form method="post" enctype="text/plain" style="padding: 6px;">
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">GK</div>
      <select ng-model="profile.age" style="padding-right:35px;font-size:16px;">
        <option value="10" style="color:black;">10</option>
        <option value="11" style="color:black;">11</option>
        <option value="12" style="color:black;">12</option>
        <option value="13" style="color:black;">13</option>
        <option value="14" style="color:black;">14</option>
        <option value="15" style="color:black;">15</option>
        <option value="16" style="color:black;">16</option>
        <option value="17" style="color:black;">17</option>
        <option value="18" style="color:black;">18</option>
        <option value="19" style="color:black;">19</option>
        <option value="20" style="color:black;">20</option>
        <option value="21" style="color:black;">21</option>
        <option value="22" style="color:black;">22</option>
        <option value="23" style="color:black;">23</option>
        <option value="24" style="color:black;">24</option>
        <option value="25" style="color:black;">25</option>
        <option value="26" style="color:black;">26</option>
        <option value="27" style="color:black;">27</option>
        <option value="28" style="color:black;">28</option>
        <option value="29" style="color:black;">29</option>
        <option value="20" style="color:black;">30</option>
      </select>
  </label>
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Def</div>
      <select ng-model="profile.position" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">GK</option>
        <option value="Defender" style="color:black;">Defender</option>
        <option value="Striker" style="color:black;">Striker</option>
      </select>
  </label>
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Striker</div>
      <select ng-model="profile.position" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">GK</option>
        <option value="Defender" style="color:black;">Defender</option>
        <option value="Striker" style="color:black;">Striker</option>
      </select>
  </label>
   <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Def</div>
      <select ng-model="profile.position" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">GK</option>
        <option value="Defender" style="color:black;">Defender</option>
        <option value="Striker" style="color:black;">Striker</option>
      </select>
  </label>
  <label class="item item-input item-select" style="border: 1px solid #d7d5d5;background-color: #ffffff;">
    <div class="input-label" style="font-weight:unset; padding-right:0px;">Striker</div>
      <select ng-model="profile.position" style="padding-right:35px;font-size:16px;">
        <option value="GK" style="color:black;">GK</option>
        <option value="Defender" style="color:black;">Defender</option>
        <option value="Striker" style="color:black;">Striker</option>
      </select>
  </label>
</form>
</ion-content>
</ion-view>