<ion-view view-title="My Team" title-center cache-view="true">
<!-- Back Button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button>
</ion-nav-buttons>
<!-- Right button -->
<ion-nav-buttons side="right">
<!-- Search button -->
<a ng-if="menuProfile.role=='Player' || menuProfile.role=='Coach'" ng-href="#/app/searchTeam">
  <button class="button button-clear icon-button mdi mdi-magnify button-search" style="min-height:0;font-size:25px"></button>
</a>
</ion-nav-buttons>
<!-- Fake button -->
<button ng-click="searchbutton = !searchbutton; filterbutton = false" id="searchbutton" style="display:none"></button>
<button ng-click="filterbutton = !filterbutton; searchbutton = false" id="filterbutton" style="display:none"></button>
<!-- Search bar -->
<div class="bar item-input-inset" style="border:none;margin-top:58px;margin-bottom:100px;position: fixed" ng-show="searchbutton">
  <i class="icon ion-ios-search placeholder-icon" style="background:white; height:56px; padding-top:16px; padding-left:11px;"></i><input id="search" type="text" placeholder=" Search..." ng-model="search" style="width:100%; height:60px;" />
</div>
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content class="hideScroll" overflow-scroll=false scroll-sista="tabs" style="background-color: #ffffff; z-index:0; margin-top:12px;">
<!-- for refresh -->
<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()" refreshing-text="Fetching ..." refreshing-icon="ion-loading-b"></ion-refresher>
<div ng-if="menuProfile.team === 'null'" >
<p style="text-align:center;font-size:20px;margin-top:200px;">No Team Yet</p>
  <center><button class="button button-balanced" style="margin-top:0px;" ng-click="createTeam()">Create one</button></center>
</div>

<div ng-if="(menuProfile.team === null) && (requestedTeam == false)" ng-show="menuProfile.role == 'Coach'">
<p style="text-align:center;font-size:20px;margin-top:200px;">You not managing any team yet</p>
  <center><button class="button button-balanced" style="margin-top:0px;" ng-click="searchTeam()">Manage one</button></center>
</div>

<div class="list" ng-if="(menuProfile.team === null) && (requestedTeam == true)" ng-show="menuProfile.role == 'Coach'">
  <!-- Data of members -->
  <h4 style="font-size: 18px; background-color: aliceblue; margin: 0px; padding: 4px;">Requested Team</h4>
  <a ng-repeat="data in requestedTeamArr" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
    <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">{{data}}</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Coach</p>
    <p style="font-size:14px;color:black;margin-top:-32px;margin-left:150px;">waiting respond</p>
    </div>
  </a>
</div>

<div ng-if="menuProfile.team !== null" >
<div style="background-image: url('img/background-leaderboard.png');padding-top:15px;background-repeat:no-repeat;padding-bottom:10px;">
  <img src="img/icon.png" ng-src={{profile.photo}} class="avatar" style="left:0px;right:0px;top:30px;margin:0px auto;width:70px;height:70px;">
  <h1 style="color:white; margin-top:100px; text-align:center; font-size:18px;margin-bottom: 4px;">{{menuProfile.team}}</h1>
<!--   <p style="color:#ececec; text-align:center; font-size:12px;">{{menuProfile.email}}</p> -->
  <p style="color:#ececec; text-align:center; font-size:12px;margin-bottom:0px;">{{menuProfile.username}} ({{menuProfile.role}})</p>  
  <center style="margin-top: 10px;padding: 10px;padding-bottom: 10px;"><a ng-if="menuProfile.role == 'Manager'" style="color:#ffffff;text-align:center; font-size:12px;background-color:#4db6ac;padding:8px;border-radius:20px;">Hire Coach</a></center>
</div>

<div ng-if="menuProfile.team !== 'null'" class="row" style="padding:0px;" ng-hide="isCoach == true" ng-show="isCoach == false">
    <button class="col" ng-click="tab1()" ng-class="{'activeIcon':showme == 1}"style="color:#897777;padding:10px;background-color:white;border:none;border-bottom:1px solid #e0dfdf;">Member</button>
    <button class=" col" ng-click="tab2()" ng-class="{'activeIcon':showme == 2}"style="color:#897777;padding:10px;background-color:white;border:none;border-bottom:1px solid #e0dfdf;">Invited </button>
    <button class=" col" ng-click="tab3()" ng-class="{'activeIcon':showme == 3}"style="color:#897777;padding:10px;background-color:white;border:none;border-bottom:1px solid #e0dfdf;">Request </button>
</div>
</div>                                  

<!-- List of members-->
<div class="list" ng-show="showme==1" ng-if="haveMember=true">
  <div>
  <!-- Data of members -->
  <a overflow-scroll=false scroll-sista="tabs" ng-repeat="data in joined_member" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
    <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">{{data}}</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Coach</p>
    <p style="font-size:14px;color:black;margin-top:-32px;margin-left:150px;">waiting respond</p>
    </div>
  </a>

   <h4 ng-if="userRequestExist==true"  style="font-size: 18px; background-color: aliceblue; margin: 0px; padding: 4px;">User Request</h4>
    <a ng-if="userRequestExist==true" ng-repeat="data in userRequestArr" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
      <img src="img/profile3.png">
      <div style="padding-top: 3px;height:40px;">
      <h2 style="margin-left: -26px">{{data.username}}</h2>
      <p style="margin-left: -26px; margin-top: -2px;">{{data.email}}</p>
      <p style="font-size:14px;color:black;margin-top:-32px;margin-left:160px;" ng-click="addUserToTeamSquad('{{data.username}}')">Accept</p>
      <p style="font-size:14px;color:black;margin-top:-22px;margin-left:212px;border-left: 1px solid #4db6ac; padding-left: 8px;" ng-click="delTeamFromRequestedTeam('{{data.username}}')">Cancel</p>
      </div>
    </a>
  </div>
</div>

<!-- List of members-->
<div class="list" ng-show="showme==1"  ng-if="haveMember=false">
<p style="text-align: center;margin-top: 100px;">No Member Yet</p>
  <!-- Coach -->
  <div ng-show="role == 'Coach'">
    <!-- <div ng-hide="searchmessage"></div> -->
    <div class="list" ng-if="teamAlreadyExist == true">
      <a class="item item-avatar" style="border-bottom:2px solid #f0efef;">
       <!--  <img src="img/emblem.jpg" style="background-color:#4DB6AC";> -->
        
          <h4 style="background-color: #4DB6AC;color: white;height: 40px;width: 40px;text-align: center;padding-top: 12px;border-radius: 50%;margin-left: -80px;margin-bottom: -40px;">{{teamAcronym}}</h4>
        
        <div style="padding-top: 3px;height:40px;">
        <h2 style="margin-left: -26px">{{myTeam.team_name}}</h2>
        <p style="margin-left: -26px; margin-top: -2px;">{{myTeam.team_coach}} (coach)</p>
        <button class="button button-clear icon-button mdi mdi-chevron-right" ng-click="goToTeamDetail(myTeam.id)" style="font-size:20px;color:black;margin-top:-65px;margin-left:210px;"></button>
        </div>
      </a>
    </div>

    <p style="text-align: center; padding:10px; margin-top:250px; font-size: 18px;" ng-if="teamAlreadyExist == false">No Team Yet</p>
  </div>
  <!-- Coach -->

  <!-- Player -->
  <div ng-show="role == 'Player'">
  <!--   <div ng-hide="searchmessage"></div> -->
  <!-- Data of members -->
    <h4 style="font-size: 18px; background-color: aliceblue; margin: 0px; padding: 4px;">Team Invitation</h4>
    <a ng-show="NoInvitation == false" ng-repeat="data in teamInvitationArr" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
      <img src="img/profile3.png">
      <div style="padding-top: 3px;height:40px;">
      <h2 style="margin-left: -26px">{{data.team_name}}</h2>
      <p style="margin-left: -26px; margin-top: -2px;">{{data.team_coach}}</p>
      <p style="font-size:14px;color:black;margin-top:-32px;margin-left:160px;" ng-click="addUserToTeamSquad('{{data.team_name}}')">Accept</p>
      <p style="font-size:14px;color:black;margin-top:-22px;margin-left:212px;border-left: 1px solid #4db6ac; padding-left: 8px;" ng-click="delUserFromInvitedMember('{{data.team_name}}')">Cancel</p>
      </div>
    </a>

     <a ng-show="NoInvitation == true" class="item item-avatar" style="padding: 10px; margin-top:50px; text-align: center;">
        <p style="font-size: 18px;">No Invitation Yet</p>
    </a>

    <!-- List of members-->
    <div class="list" ng-show="showme==1" ng-if="requestedTeam==true">
      <!-- Data of members -->
      <h4 style="font-size: 18px; background-color: aliceblue; margin: 0px; padding: 4px;">Requested Team</h4>
      <a ng-repeat="data in requestedTeamArr" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
        <img src="img/profile3.png">
        <div style="padding-top: 3px;height:40px;">
        <h2 style="margin-left: -26px">{{data}}</h2>
        <p style="margin-left: -26px; margin-top: -2px;">Coach</p>
        <p style="font-size:14px;color:black;margin-top:-32px;margin-left:160px;">waiting respond</p>
        </div>
      </a>
    </div>

    <div ng-show="showme==1" ng-if="joinTeam==false">
      <h4 style="text-align: center;margin-top: 180px;padding: 4px;">Not joining a team Yet</h4>
    </div>
    <!-- List of Member -->

  </div>
  <!-- Player -->
</div>

<!-- List of invited member -->
<div ng-if="menuProfile.role == 'Manager'" class="list" ng-show="showme==2" ng-if="haveMember=true">
  <div>
  <!-- Data of invited members -->
  <a overflow-scroll=false scroll-sista="tabs" ng-repeat="data in invited_member" class="item item-avatar" style="border-bottom:2px solid #f0efef;">
    <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px">{{data}}</h2>
    <p style="margin-left: -26px; margin-top: -2px;">Coach</p>
    <p style="font-size:14px;color:black;margin-top:-32px;margin-left:150px;">waiting respond</p>
    </div>
  </a>
  </div>
</div>

<!-- List of Request-->
<div ng-if="menuProfile.role == 'Manager'" class="list" ng-show="showme==3" ng-click="getTeamSquad()">
  <!-- If there are request from player or coach -->
  <a ng-hide="playerRequest == undefined && coachRequest == undefined" class="item item-avatar" style="border-bottom:2px solid #f0efef;" ng-click="goToChatDetail('{{data.username}}')">
   <img src="img/profile3.png">
    <div style="padding-top: 3px;height:40px;">
    <h2 style="margin-left: -26px; width:100px;">{{data.username}}sdds</h2>
    <p style="margin-left: -26px; margin-top: -2px;">{{data.email}}dfd</p>
    <p style="margin-left: 140px; margin-top: -40px;">Accept</p>
    <p style="margin-left: 190px; margin-top: -23px;">|</p>
    <p style="margin-left: 200px; margin-top: -21px;">Cancel</p>
    </div>
  </a>
  <!-- If no request from player or coach -->
  <p ng-show="playerRequest == undefined && coachRequest == undefined" style="text-align: center;margin-top: 80px;">No Request</p>
</div>
<!-- List of Request-->

</ion-content>
<!--Create Post Button-->
<ion-buttons ng-if="teamAlreadyExist == false" ng-show="role == 'Coach'" start id="floating-button" style="margin-right:10px; background-color:#4DB6AC;padding-top: 6px" ng-click="createTeam()">
<i class="icon mdi mdi-plus" style="font-size:40px;"></i>
</ion-buttons>
<ion-buttons ng-if="menuProfile.role == 'Manager'" ng-show="showme == 1" start id="floating-button" style="margin-right:10px; background-color:#4DB6AC;width: 50px;height: 50px;" ng-click="searchUser()">
<i class="icon mdi mdi-plus" style="font-size:40px;"></i>
</ion-buttons>
</ion-view>