<ion-view view-title="Schedule" cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button>
</ion-nav-buttons>

<ion-content overflow-scroll=true scroll-sista="tabs" style="background-color: #ffffff;">

<p style="text-align:center;padding-top:200px;">No Schedule</p>
<p style="text-align:center;padding-top:10px;">You haven't joined any competition yet...</p>
<!-- List of competitions joined -->
<div class="list" ng-hide="showme">
	<!-- Data of competitions -->
	<a ng-repeat="competition in myCompetitionData" class="item item-avatar" style="border-bottom:2px solid #f8f8f8; background:white; padding-bottom: 0px; margin-bottom: 0px;">
		<div style="padding-top: 10px">
		<h2 style="margin-left: -80px;">{{competition.comp_name}}</h2>
		<p style="margin-left: -80px;font-size: 13px;color:#7c7878;">{{competition.comp_start}} - {{competition.comp_finish}}</p>
		<button class="button button-clear icon-button mdi mdi-chevron-right" ng-click="goToScheduleDetail('{{competition.id}}')" style="font-size:20px;color:#808a89;margin-top:-60px;margin-left:200px;padding:0px;text-align:right;"></button>
		</div>
	</a>
</div>
</ion-content>
</ion-view>


