<ion-view view-title="Matches" title-center cache-view="false">
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="backToHome()" style="font-size:25px"></button>
</ion-nav-buttons>
<ion-content class="hideScroll" overflow-scroll=false scroll-sista="tabs" style="background-color: #ececec; z-index:0;overflow-y: hidden;">

<!-- tab -->
<div class="row" style="padding:0px;margin-top: 10px;">

  <a class="col col-50" ng-click="showme1()" ng-class="{'top-tab-active':showme == 1}" style="text-align:center;font-size:13px;color:rgba(255, 255, 255, 0.45);padding:0px;padding-top:6px;padding-bottom:6px;background-color:#4DB6AC;border:none;border-bottom:1px solid #e0dfdf;">Live ({{liveMatchCount}})</a>
   
  <div ng-show="showme==1" class="col col-10" style="text-align:center;font-size:13px;padding:0px;padding-top:6px;padding-bottom:6px;background-color:#4DB6AC;border:none;border-bottom:1px solid #e0dfdf;" ng-click="showme=2"><i ng-class="{'top-tab-active':showme == 2}" class="icon ion-arrow-left-b placeholder-icon" style="color:rgba(255, 255, 255, 0.45);font-size: 20px;"></i></div>
  <div ng-show="showme==2" class="col col-10" style="text-align:center;font-size:13px;padding:0px;padding-top:6px;padding-bottom:6px;background-color:#4DB6AC;border:none;border-bottom:1px solid #e0dfdf;" ng-click="prev()"><i ng-class="{'top-tab-active':showme == 2}" class="icon ion-arrow-left-b placeholder-icon" style="color:rgba(255, 255, 255, 0.45);font-size: 20px;"></i></div>

  <div ng-show="day === thisDay && monthName === thisMonthName" class="col col-30"  style="text-align:center;font-size:13px;color:rgba(255, 255, 255, 0.45);padding:0px;padding-top:6px;padding-bottom:6px;background-color:#4DB6AC;border:none;border-bottom:1px solid #e0dfdf;"><p ng-class="{'top-tab-active':showme == 2}" style="padding-left:10px;font-weight:bold;color:rgba(255, 255, 255, 0.45);text-align: center;margin:0px;padding: 0px;" ng-click="showme2()">Today</p></div>
  <div ng-hide="day === thisDay && monthName === thisMonthName" class="col col-30"  style="text-align:center;font-size:13px;color:rgba(255, 255, 255, 0.45);padding:0px;padding-top:6px;padding-bottom:6px;background-color:#4DB6AC;border:none;border-bottom:1px solid #e0dfdf;"><p ng-class="{'top-tab-active':showme == 2}" style="padding-left:10px;font-weight:bold;color:rgba(255, 255, 255, 0.45);text-align: center;margin:0px;padding: 0px;" ng-click="showme2()">{{day}} {{monthName}} {{year}}</p></div>

  <div ng-show="showme==1" class="col col-10" style="text-align:center;font-size:13px;color:rgba(255, 255, 255, 0.45);padding:0px;padding-top:6px;padding-bottom:6px;background-color:#4DB6AC;border:none;border-bottom:1px solid #e0dfdf;" ng-click="showme=2"><i ng-class="{'top-tab-active':showme == 2}" class="icon ion-arrow-right-b placeholder-icon" style="color:rgba(255, 255, 255, 0.45);font-size: 20px;"></i></div>
  <div ng-show="showme==2" class="col col-10" style="text-align:center;font-size:13px;color:rgba(255, 255, 255, 0.45);padding:0px;padding-top:6px;padding-bottom:6px;background-color:#4DB6AC;border:none;border-bottom:1px solid #e0dfdf;" ng-click="next()"><i ng-class="{'top-tab-active':showme == 2}" class="icon ion-arrow-right-b placeholder-icon" style="color:rgba(255, 255, 255, 0.45);font-size: 20px;"></i></div>

</div>
<!-- tab -->

<!-- <div ng-if="myCompetitionId !== null" ng-show="showme==2" class="card" style="margin:10px;">
  <div class="item item-divider" style="padding:0px;margin:0px;border-bottom: 1px solid #e1e1e1;">
   <div class="row" style="margin:0px;padding: 0px;">
      <div ng-click="prev()" class="col col-10" style="text-align:center;padding: 0px;margin: 0px;"><i class="icon ion-arrow-left-b placeholder-icon" style="color: #515151;font-size: 20px;"></i></div>
      <div class="col col-80" style="text-align:center;padding: 0px;margin:0px;"><p style="padding-left:10px;font-weight:bold;color:#515151;text-align: center;margin:0px;padding: 0px;">{{day}} {{monthName}} {{year}}</p></div>
      <div ng-click="next()" class="col col-10" style="text-align:center;padding: 0px;margin: 0px;"><i class="icon ion-arrow-right-b placeholder-icon" style="color: #515151;font-size: 20px;"></i></div>
   </div>
  </div>
</div> -->

<!-- <p ng-if="myCompetitionId === null" ng-show="showme==1" style="text-align:center;margin-top:200px;">No match is live yet...</p> -->
<p ng-if="(competitionStatus === false && menuProfile.role !== 'Organizer')" ng-show="showme==1" style="text-align:center;margin-top:200px;">No Match</p>
<p ng-if="(competitionStatus === false && menuProfile.role !== 'Organizer')" ng-show="showme==1" style="text-align:center;margin-top:10px;">You haven't joined any competition yet...</p>

<p ng-if="allLiveMatchesObj.matches.length === 0" ng-show="showme==1 && myCompetitionId !== null" style="text-align:center;margin-top:200px;">No Match Is Live Yet...</p>

<div ng-if="myCompetitionId !== null" ng-show="showme==1 && allLiveMatchesObj.matches.length !== 0" class="item item-text-wrap" ng-repeat="data in allLiveMatchesObj.competition_name track by $index" style="padding:0px;margin-left: 4px;margin-right: 4px;margin-top:10px;width: auto;background-color: white;">
    <p style="background-color:#4DB6AC;padding-left:10px;font-weight:bold;color:white;height:30px;text-align: center;padding-top: 5px;">{{data}}</p>
    <div class="row" ng-repeat="item in allLiveMatchesObj.matches[$index] track by item.id | orderBy:['match_date','match_time']" style="border-bottom: #e8e3e3 1px solid;margin:0px;padding:0px;" ng-click="viewMatchResult('{{item.id}}')">

       <div ng-show="(liveMatchData[item.id].timer_status == '1st half started' || liveMatchData[item.id].timer_status == 'started' || liveMatchData[item.id].timer_status == '2nd half started' || liveMatchData[item.id].timer_status == '1st half started (ET)' || liveMatchData[item.id].timer_status == '2nd half started (ET)')" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">{{liveMatchData[item.id].timer}}'</div>
      <div ng-show="liveMatchData[item.id].timer_status == '1st half stopped'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">HT</div>
      <div ng-show="liveMatchData[item.id].timer_status == '2nd half stopped' && liveMatchData[item.id].match_status == 'finished'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">FT</div>
      <div ng-if="menuProfile.role !== 'Organizer'" ng-show="liveMatchData[item.id].timer_status == '' || liveMatchData[item.id].timer_status == null" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;"></div>
      <div ng-show="liveMatchData[item.id].timer_status == '2nd half stopped (ET)' && liveMatchData[item.id].match_status == 'finished'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">AET</div>
      <div ng-show="(liveMatchData[item.id].timer_status == 'penalty shootout started' || liveMatchData[item.id].timer_status == 'penalty shootout stopped') && liveMatchData[item.id].match_status == 'finished'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">PEN</div>

      <!-- <div class="col col-10" style="text-align:left;color: #4db6ac;">{{liveMatchData[item.id].timer}}'</div> -->
      <div class="col" style="text-align:right;font-size: 13px;">{{liveMatchData[item.id].match_homeTeam}}</div>

       <!-- 
        -->
        <div class="col col-20" ng-click="liveScore('{{liveMatchData[item.id].id}}')" style="text-align:center;color:#111;width: 70px;font-size: 13px;">{{liveMatchData[item.id].match_homeTeamObj.score}} - {{liveMatchData[item.id].match_awayTeamObj.score}}</div>

        <div class="col" style="text-align:left;font-size: 13px;">{{liveMatchData[item.id].match_awayTeam}}</div>

      <div class="col col-10" style="text-align:left;"></div>

    </div>
</div>

<p ng-if="(competitionStatus === false && menuProfile.role !== 'Organizer')" ng-show="showme==2" style="text-align:center;margin-top:200px;">No Match</p>
<p ng-if="(competitionStatus === false && menuProfile.role !== 'Organizer')" ng-show="showme==2" style="text-align:center;margin-top:10px;">You haven't joined any competition yet...</p>

<p ng-if="competitionStatus === true" ng-show="showme==2 && allMatchesObj.matches.length === 0" style="text-align:center;margin-top:200px;">No Match</p>

<div ng-show="showme==2" ng-if="myCompetitionId !== null" class="item item-text-wrap" ng-repeat="data in allMatchesObj.competition_name track by $index" style="padding:0px;margin-left: 4px;margin-right: 4px;margin-top:10px;width: auto;background-color: white;">
    <p style="background-color:#4DB6AC;padding-left:10px;font-weight:bold;color:white;height:30px;text-align: center;padding-top: 5px;">{{data}}</p>
    <div ng-click="viewMatchResult('{{match.id}}')" class="row" ng-repeat="match in allMatchesObj.matches[$index] track by match.id" style="border-bottom: #e8e3e3 1px solid;margin:0px;padding:0px;">
      <div class="col col-10" style="text-align:center;font-size: 13px;"></div>

      <div ng-class="{'winner':match.match_winner === match.match_homeTeam}" class="col" style="text-align:center;">{{match.match_homeTeam}}</div>

      <div class="col col-15" ng-show="match.timer_status == ''" ng-hide="match.match_status == 'finished'" style="text-align:center;color:#4DB6AC;width: 70px;">{{match.match_time}}</div>
      <div class="col col-15" ng-show="match.match_status == 'finished'" style="text-align:center;color:black;font-weight: 600;width: 70px;">{{match.match_homeTeamObj.score}} - {{match.match_awayTeamObj.score}}</div>

      <div ng-class="{'winner':match.match_winner === match.match_awayTeam}" class="col" style="text-align:center;">{{match.match_awayTeam}}</div>

      <div ng-show="(match.timer_status == '1st half started' || match.timer_status == 'started' || match.timer_status == '2nd half started' || match.timer_status == '1st half started (ET)' || match.timer_status == '2nd half started (ET)')" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">{{match.timer}}'</div>
      <div ng-show="match.timer_status == '1st half stopped'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">HT</div>
      <div ng-show="match.timer_status == '2nd half stopped' && match.match_status == 'finished'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">FT</div>
      <div ng-if="menuProfile.role !== 'Organizer'" ng-show="match.timer_status == '' || match.timer_status == null" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;"></div>
      <div ng-show="match.timer_status == '2nd half stopped (ET)' && match.match_status == 'finished'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">AET</div>
      <div ng-show="(match.timer_status == 'penalty shootout started' || match.timer_status == 'penalty shootout stopped') && match.match_status == 'finished'" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;">PEN</div>
      <div ng-if="menuProfile.role === 'Organizer'" ng-show="match.timer_status == '' || match.timer_status == null" class="col col-10" style="text-align:right;font-size: 11px;max-width: 15%;color:black;font-weight: 600;" ng-click="editMatch('{{match.id}}','{{match.competition_id}}')">
         <i class="ion-edit" style="font-size:15px;color:#886aea;"></i>
      </div>
    </div>
</div>
<!--Live Score for Referee-->
</ion-content>
</ion-view>