<ion-view view-title="Rating" cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left">
<!-- <button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button> -->
</ion-nav-buttons>
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content class="hideScroll" overflow-scroll=true scroll-sista="tabs" style="background-color: #ececec;">
<div ng-show="profile.role == 'Referee'" style="background-image: url('img/background-leaderboard.png');padding-top:15px;background-repeat:no-repeat;min-height: 200px;">
  <img ng-if="loadCompleted == true" ng-hide="profile.photo != ''" src="img/profile3.png" class="avatar" style="left:0px;right:0px;top:30px;margin:0px auto;width:80px;height:80px;">
  <img src="img/profile3.png" ng-src={{profile.photo}} class="avatar" style="left:0px;right:0px;top:30px;margin:0px auto;width:80px;height:80px;">
  <h1 style="color:white; margin-top:100px; text-align:center; font-size:18px;">{{profile.username}}</h1>
  <p style="color:#ececec; text-align:center; font-size:12px;">{{profile.email}}</p>
</div>

<div class="card" style="margin-top: -33px;">
  <div class="row" style="padding: 4px;border-bottom: 1px solid #ddd;">
    <div class="col" style="text-align: center;">{{finishedMatch[0].match_date | date:'EEEE'}}, {{finishedMatch[0].match_date | date:'dd MMM yyyy'}}, {{finishedMatch[0].match_time}}</div>
  </div>
  <div class="row" style="padding: 4px;margin-top: 4px;">
    <div class="col col-30" style="text-align: right;">{{finishedMatch[0].match_homeTeam}}</div>
    <div class="col" style="text-align: center;font-size: 16px;font-weight: 500;padding-top: 3px;">{{finishedMatch[0].match_homeTeamObj.score}} - {{finishedMatch[0].match_awayTeamObj.score}}</div>
    <div class="col col-30" style="text-align: left;">{{finishedMatch[0].match_awayTeam}}</div>
  </div>
  <div class="row" style="padding: 4px;margin-top: -10px;">
    <div class="col" style="text-align: center;"><i class="ion-home" style="font-size:18px;color:#11c1f3;"></i> {{finishedMatch[0].match_venue}}</div>
  </div>
  <div class="row" style="padding: 4px;margin-top: -10px;">
    <div class="col" style="text-align: center;">( {{compName}} )</div>
  </div>
</div>

<div class="card" style="margin-top:10px;">
  <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;font-size:16px;padding-bottom: 10px;padding-top: 4px;">Referee Performance</p>
      </div>
    </div>

    <!-- Fairness -->
    <div class="row" style="text-align:center;margin-top:10px;">
      <div class="col" style="margin-left:10px;margin-right:-10px;text-align: left;">Fairness</div>
      <div class="col">
        <i ng-show="fairnessrated===false || fairnessStar == 0" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="fairnessRating('1')">
        </i>
        <i ng-show="fairnessStar == 1 || fairnessStar == 2 || fairnessStar == 3 || fairnessStar == 4 || fairnessStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="fairnessRating('1')">
        </i>
        <i ng-show="fairnessrated===false || fairnessStar == 1" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="fairnessRating('2')">
        </i>
        <i ng-show="fairnessStar == 2 || fairnessStar == 3 || fairnessStar == 4 || fairnessStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="fairnessRating('2')">
        </i>
        <i ng-show="fairnessrated===false || fairnessStar == 1 || fairnessStar == 2" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="fairnessRating('3')">
        </i>
        <i ng-show="fairnessStar == 3 || fairnessStar == 4 || fairnessStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="fairnessRating('3')">
        </i>
         <i ng-show="fairnessrated===false || fairnessStar == 1 || fairnessStar == 2 || fairnessStar == 3" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="fairnessRating('4')">
        </i>
        <i ng-show="fairnessStar == 4 || fairnessStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="fairnessRating('4')">
        </i>
         <i ng-show="fairnessrated===false || fairnessStar == 1 || fairnessStar == 2 || fairnessStar == 3 || fairnessStar == 4" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="fairnessRating('5')">
        </i>
        <i ng-show="fairnessStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="fairnessRating('5')">
        </i>
      </div>
    </div>

    <!-- Decision -->
    <div class="row" style="text-align:center;margin-top:4px;">
      <div class="col" style="margin-left:10px;margin-right:-10px;text-align: left;">Decision</div>
      <div class="col">
        <i ng-show="decisionrated===false || decisionStar == 0" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="decisionRating('1')">
        </i>
        <i ng-show="decisionStar == 1 || decisionStar == 2 || decisionStar == 3 || decisionStar == 4 || decisionStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="decisionRating('1')">
        </i>
        <i ng-show="decisionrated===false || decisionStar == 1" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="decisionRating('2')">
        </i>
        <i ng-show="decisionStar == 2 || decisionStar == 3 || decisionStar == 4 || decisionStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="decisionRating('2')">
        </i>
        <i ng-show="decisionrated===false || decisionStar == 1 || decisionStar == 2" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="decisionRating('3')">
        </i>
        <i ng-show="decisionStar == 3 || decisionStar == 4 || decisionStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="decisionRating('3')">
        </i>
         <i ng-show="decisionrated===false || decisionStar == 1 || decisionStar == 2 || decisionStar == 3" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="decisionRating('4')">
        </i>
        <i ng-show="decisionStar == 4 || decisionStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="decisionRating('4')">
        </i>
         <i ng-show="decisionrated===false || decisionStar == 1 || decisionStar == 2 || decisionStar == 3 || decisionStar == 4" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="decisionRating('5')">
        </i>
        <i ng-show="decisionStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="decisionRating('5')">
        </i>
      </div>
    </div>

    <!-- Discipline -->
    <div class="row" style="text-align:center;margin-top:4px;">
      <div class="col" style="margin-left:10px;margin-right:-10px;text-align: left;">Discipline</div>
      <div class="col">
        <i ng-show="disciplinerated===false || disciplineStar == 0" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="disciplineRating('1')">
        </i>
        <i ng-show="disciplineStar == 1 || disciplineStar == 2 || disciplineStar == 3 || disciplineStar == 4 || disciplineStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="disciplineRating('1')">
        </i>
        <i ng-show="disciplinerated===false || disciplineStar == 1" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="disciplineRating('2')">
        </i>
        <i ng-show="disciplineStar == 2 || disciplineStar == 3 || disciplineStar == 4 || disciplineStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="disciplineRating('2')">
        </i>
        <i ng-show="disciplinerated===false || disciplineStar == 1 || disciplineStar == 2" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="disciplineRating('3')">
        </i>
        <i ng-show="disciplineStar == 3 || disciplineStar == 4 || disciplineStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="disciplineRating('3')">
        </i>
         <i ng-show="disciplinerated===false || disciplineStar == 1 || disciplineStar == 2 || disciplineStar == 3" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="disciplineRating('4')">
        </i>
        <i ng-show="disciplineStar == 4 || disciplineStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="disciplineRating('4')">
        </i>
         <i ng-show="disciplinerated===false || disciplineStar == 1 || disciplineStar == 2 || disciplineStar == 3 || disciplineStar == 4" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="disciplineRating('5')">
        </i>
        <i ng-show="disciplineStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="disciplineRating('5')">
        </i>
      </div>
    </div>

     <!-- Integrity -->
    <div class="row" style="text-align:center;margin-top:4px;">
      <div class="col" style="margin-left:10px;margin-right:-10px;text-align: left;">Integrity</div>
      <div class="col">
        <i ng-show="integrityrated===false || integrityStar == 0" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="integrityRating('1')">
        </i>
        <i ng-show="integrityStar == 1 || integrityStar == 2 || integrityStar == 3 || integrityStar == 4 || integrityStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="integrityRating('1')">
        </i>
        <i ng-show="integrityrated===false || integrityStar == 1" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="integrityRating('2')">
        </i>
        <i ng-show="integrityStar == 2 || integrityStar == 3 || integrityStar == 4 || integrityStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="integrityRating('2')">
        </i>
        <i ng-show="integrityrated===false || integrityStar == 1 || integrityStar == 2" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="integrityRating('3')">
        </i>
        <i ng-show="integrityStar == 3 || integrityStar == 4 || integrityStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="integrityRating('3')">
        </i>
         <i ng-show="integrityrated===false || integrityStar == 1 || integrityStar == 2 || integrityStar == 3" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="integrityRating('4')">
        </i>
        <i ng-show="integrityStar == 4 || integrityStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="integrityRating('4')">
        </i>
         <i ng-show="integrityrated===false || integrityStar == 1 || integrityStar == 2 || integrityStar == 3 || integrityStar == 4" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;" ng-click="integrityRating('5')">
        </i>
        <i ng-show="integrityStar == 5" class="icon ion-star placeholder-icon" style="background:white; height:60px; padding-top:16px; padding-left:0px; padding-right:4px;font-size: 20px;color:#ffb300;" ng-click="integrityRating('5')">
        </i>
      </div>
    </div>

    <center>
      <button ng-show="disciplinerated===false || decisionrated===false || fairnessrated===false || integrityrated===false" class="button button-balanced" style="margin-top: 20px;margin-bottom: 20px;background-color: #4db6ac80;width: 300px;">
      Submit
      </button>
      <button ng-show="disciplinerated===true && decisionrated===true && fairnessrated===true && integrityrated===true" class="button button-balanced" style="margin-top: 20px;margin-bottom: 20px;background-color: #4db6ac;width: 300px;" ng-click="submitRefereeRating(finishedMatch[0].id, finishedMatch[0].match_referee)">
      Submit
      </button>
    </center>


  </div>
</div>

</ion-content>
</ion-view>