<ion-view view-title="About" title-center cache-view="true">

<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button>
</ion-nav-buttons>

<ion-content class="hideScroll" overflow-scroll=true scroll-sista="tabs" style="background-color: #fff; z-index:0; margin-top:12px;">

<center>
	<img ng-src="img\sportmanLogo\sportman logo v1.1.10.png" style="height:90px;width:100px;margin:35px 0px 10px 0px;"/>
</center>

<div class="padding" style="padding-right: 20px !important; padding-left: 20px !important;">
	<p style="text-align: justify;margin-bottom: 20px;">
		Sportman adalah Aplikasi yang akan memudahkan anda dalam mengatur kompetisi atau perlombaan olahraga. Melalui sportman, anda dapat membuat kompetisi, membuat jadwal kompetisi, dan lain-lain.
	</p>
	<p style="text-align: justify;margin-bottom: 20px;">
		Saat ini sportman sedang dalam fase alpha testing dimana fitur-fitur yang ada belum memenuhi security compliance. Kritik dan saran anda sangat kami perlukan dan harap dikirimkan ke jimmy10d@gmail.com.
	</p>
	<p style="font-style:italic;text-align: justify;margin-bottom: 20px;">
		“This could be a new way to manage sport competition. Everything in one app, and it’s a mobile app.” -Jimmy Chen
	</p>
	<small>
		Created by Jimmy Chen 2017
	</small>
</div>

</ion-content>
</ion-view>