<ion-modal-view>
<ion-content class="hideScroll">
  <!-- Goal -->
  <div ng-hide="status == 'subHome' || status == 'subAway' || status == 'yellowCardHome' || status == 'yellowCardAway' || status == 'redCardHome' || status == 'redCardAway'">
    <div style="color: white;padding: 10px;padding-left: 14px;background-color: #4db6ac;font-size: 16px;">Scorer</div>
      <!-- Home -->
        <!-- Red Card -->
        <div ng-repeat="player in redCardedPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'goalHome' || status == 'ownGoalHome' || status == 'penaltyGoalHome' || status == 'yellowCardHome' || status == 'redCardHome' || status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Second Yellow Card -->
        <div ng-repeat="player in secondYellowCardPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'goalHome' || status == 'ownGoalHome' || status == 'penaltyGoalHome' || status == 'yellowCardHome' || status == 'redCardHome' || status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Scorer -->
        <ion-list ng-show="status == 'goalHome' || status == 'ownGoalHome' || status == 'penaltyGoalHome' || status == 'yellowCardHome' || status == 'redCardHome' || status == 'subHome'" ng-repeat="data in lineupDataArr track by $index">
          <ion-radio ng-class="{'redCarded':redCardPlayer === data}" name="scorer" style="border-bottom: 1px solid #eeeeee;" ng-click="showAssistPlayerHome()">
            {{data}}
          </ion-radio>
        </ion-list>      

      <!-- Away -->
        <!-- Red Card -->
        <div ng-repeat="player in redCardedPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'goalAway' || status == 'ownGoalAway' || status == 'penaltyGoalAway' || status == 'yellowCardAway' || status == 'redCardAway' || status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Second Yellow Card -->
        <div ng-repeat="player in secondYellowCardPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'goalAway' || status == 'ownGoalAway' || status == 'penaltyGoalAway' || status == 'yellowCardAway' || status == 'redCardAway' || status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Scorer -->
        <ion-list ng-show="status == 'goalAway' || status == 'ownGoalAway' || status == 'penaltyGoalAway' || status == 'yellowCardAway' || status == 'redCardAway' || status == 'subAway'" ng-repeat="data in lineupDataArr track by $index">
          <ion-radio name="scorer" style="border-bottom: 1px solid #eeeeee;" ng-click="showAssistPlayerAway()"> {{data}}
          </ion-radio>
        </ion-list>

        <!-- Assist Home & Away -->
        <div ng-show="status == 'goalHome' || status == 'goalAway'" style="color: white;padding: 10px;padding-left: 14px;background-color: #4db6ac;font-size: 16px;">Assist</div>
        <ion-list ng-show="status == 'goalHome' || status == 'goalAway'" ng-repeat="data in assistPlayerArr track by $index">
           <ion-radio ng-model="assist" value="{{data}}" name="assist" style="border-bottom: 1px solid #eeeeee;">{{data}}</ion-radio>
        </ion-list>
  </div>

  <!-- Yellow Card -->
  <div ng-show="status == 'yellowCardHome' || status == 'yellowCardAway'">
    <div style="color: white;padding: 10px;padding-left: 14px;background-color: #4db6ac;font-size: 16px;">Player</div>
      <!-- Home -->
        <!-- Red Card -->
        <div ng-repeat="player in redCardedPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'goalHome' || status == 'ownGoalHome' || status == 'penaltyGoalHome' || status == 'yellowCardHome' || status == 'redCardHome' || status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Second Yellow Card -->
        <div ng-repeat="player in secondYellowCardPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'goalHome' || status == 'ownGoalHome' || status == 'penaltyGoalHome' || status == 'yellowCardHome' || status == 'redCardHome' || status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Yellow Card -->
        <ion-list ng-show="status == 'yellowCardHome'" ng-repeat="data in lineupDataArr track by $index">
          <ion-radio ng-click="showSelectedStatus()" name="scorer" style="border-bottom: 1px solid #eeeeee;">
            {{data}}
          </ion-radio>
        </ion-list>

      <!-- Away -->
        <!-- Red Card -->
        <div ng-repeat="player in redCardedPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'goalAway' || status == 'ownGoalAway' || status == 'penaltyGoalAway' || status == 'yellowCardAway' || status == 'redCardAway' || status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Second Yellow Card -->
        <div ng-repeat="player in secondYellowCardPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'goalAway' || status == 'ownGoalAway' || status == 'penaltyGoalAway' || status == 'yellowCardAway' || status == 'redCardAway' || status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Yellow Card -->
        <ion-list ng-show="status == 'yellowCardAway'" ng-repeat="data in lineupDataArr track by $index">
          <ion-radio ng-click="showSelectedStatus()" name="scorer" style="border-bottom: 1px solid #eeeeee;">  {{data}}
          </ion-radio>
        </ion-list>
  </div>

  <!-- Red Card -->
  <div ng-show="status == 'redCardHome' || status == 'redCardAway'">
    <div style="color: white;padding: 10px;padding-left: 14px;background-color: #4db6ac;font-size: 16px;">Player</div>
    <!-- Home -->
      <!-- Red Card -->
      <div ng-repeat="player in redCardedPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'goalHome' || status == 'ownGoalHome' || status == 'penaltyGoalHome' || status == 'yellowCardHome' || status == 'redCardHome' || status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
        <div class="col col-80">{{player}}</div>
        <div class="col col-20">
           <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
        </div>
      </div>

      <!-- Second Yellow Card -->
      <div ng-repeat="player in secondYellowCardPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'goalHome' || status == 'ownGoalHome' || status == 'penaltyGoalHome' || status == 'yellowCardHome' || status == 'redCardHome' || status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
        <div class="col col-80">{{player}}</div>
        <div class="col col-20">
           <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
        </div>
      </div>

      <!-- Red Card -->
      <ion-list ng-show="status == 'redCardHome'" ng-repeat="data in lineupDataArr track by $index">
        <ion-radio ng-click="showSelectedStatus()" name="scorer" style="border-bottom: 1px solid #eeeeee;">
          {{data}}
        </ion-radio>
      </ion-list>

    <!-- Away -->
      <!-- Red Card -->
      <div ng-repeat="player in redCardedPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'goalAway' || status == 'ownGoalAway' || status == 'penaltyGoalAway' || status == 'yellowCardAway' || status == 'redCardAway' || status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
        <div class="col col-80">{{player}}</div>
        <div class="col col-20">
           <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
        </div>
      </div>

      <!-- Second Yellow Card -->
      <div ng-repeat="player in secondYellowCardPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'goalAway' || status == 'ownGoalAway' || status == 'penaltyGoalAway' || status == 'yellowCardAway' || status == 'redCardAway' || status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
        <div class="col col-80">{{player}}</div>
        <div class="col col-20">
           <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
        </div>
      </div>

      <!-- Red Card -->
      <ion-list ng-show="status == 'redCardAway'" ng-repeat="data in lineupDataArr track by $index">
        <ion-radio ng-click="showSelectedStatus()" name="scorer" style="border-bottom: 1px solid #eeeeee;">{{data}}
        </ion-radio>
      </ion-list>
  </div>

  <!-- Substitute -->
  <div ng-show="status == 'subHome' || status == 'subAway'">
    <div style="color: white;padding: 10px;padding-left: 14px;background-color: #4db6ac;font-size: 16px;">Player Out</div>
      <!-- Home -->
        <!-- Red Card -->
        <div ng-repeat="player in redCardedPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Second Yellow Card -->
        <div ng-repeat="player in secondYellowCardPlayerHome track by $index" ng-if="redCardPlayerHome !== undefined" ng-show="status == 'subHome'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

      <!-- Away -->
        <!-- Red Card -->
        <div ng-repeat="player in redCardedPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/red card2.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Second Yellow Card -->
        <div ng-repeat="player in secondYellowCardPlayerAway track by $index" ng-if="redCardPlayerAway !== undefined" ng-show="status == 'subAway'" class="row" style="border-bottom: 1px solid #eeeeee;background-color: #ddd;color: #aaa;padding: 10px;">
          <div class="col col-80">{{player}}</div>
          <div class="col col-20">
             <center style="padding-left: 20px;"><img src="img/iconFootball/second yellow card.png" style="width: 25px;height: 25px;" /></center>
          </div>
        </div>

        <!-- Player Out -->
        <ion-list ng-repeat="data in lineupDataArr track by $index">
          <ion-radio ng-click="setPlayerOutStatus()" name="playerOut" style="border-bottom: 1px solid #eeeeee;">{{data}}</ion-radio>
        </ion-list>

        <!-- Player In -->
        <div style="color: white;padding: 10px;padding-left: 14px;background-color: #4db6ac;font-size: 16px;">Player In</div>
        <ion-list ng-repeat="data in subDataArr track by $index">
           <ion-radio ng-click="setPlayerInStatus()" name="playerIn" style="border-bottom: 1px solid #eeeeee;">{{data}}</ion-radio>
        </ion-list>
  </div>

  <button ng-show="status == 'goalHome' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'goalHome' && selectedStatus === true" class = "button" ng-click = "addGoalHome()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'goalAway' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'goalAway' && selectedStatus === true" class = "button" ng-click = "addGoalAway()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>


  <button ng-show="status == 'ownGoalHome' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'ownGoalHome' && selectedStatus === true" class = "button" ng-click = "addOwnGoalHome()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'ownGoalAway' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'ownGoalAway' && selectedStatus === true" class = "button" ng-click = "addOwnGoalAway()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>


  <button ng-show="status == 'penaltyGoalHome' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'penaltyGoalHome' && selectedStatus === true" class = "button" ng-click = "addPenaltyGoalHome()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'penaltyGoalAway' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'penaltyGoalAway' && selectedStatus === true" class = "button" ng-click = "addPenaltyGoalAway()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>


  <button ng-show="status == 'yellowCardHome' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'yellowCardHome' && selectedStatus === true" class = "button" ng-click = "addYellowCardHome()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'yellowCardAway' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'yellowCardAway' && selectedStatus === true" class = "button" ng-click = "addYellowCardAway()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>


  <button ng-show="status == 'redCardHome' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'redCardHome' && selectedStatus === true" class = "button" ng-click = "addRedCardHome()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'redCardAway' && selectedStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'redCardAway' && selectedStatus === true" class = "button" ng-click = "addRedCardAway()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>


  <button ng-show="status == 'subHome'" ng-if="playerOutStatus === false || playerInStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'subHome' && playerOutStatus === true && playerInStatus === true" class = "button" ng-click = "addSubHome()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'subAway'" ng-if="playerOutStatus === false || playerInStatus === false" class = "button" style="top: 550px;left: 20px;background-color: #ddd; color: white;position: fixed;">Submit</button>
  <button ng-show="status == 'subAway' && playerOutStatus === true && playerInStatus === true" class = "button" ng-click = "addSubAway()" style="top: 550px;left: 20px;background-color: #444; color: white;position: fixed;">Submit</button>


  <button class = "button" ng-click = "closeModalGoal()" style="top: 550px;right: 20px;background-color: #ef473a; color: white;position: fixed;">Cancel</button>

</ion-content>
</ion-modal-view>