<ion-view view-title="Profile" cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="back()" style="font-size:25px"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<a class="button button-clear" ng-href="#/app/edit_profile"><i class="mdi mdi-settings" style="margin-top: 14px;"></i></a>
</ion-nav-buttons>
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content class="hideScroll" overflow-scroll=true scroll-sista="tabs" style="background-color: #ececec;">
<div ng-click="setDefaultCompStatus()" ng-show="menuProfile.role != 'Referee'" style="background-image: url('img/background-leaderboard.png');padding-top:15px;background-repeat:no-repeat;">
  <img ng-if="loadCompleted == true" ng-hide="profile.photo != ''" src="img/profile3.png" class="avatar" style="left:0px;right:0px;top:30px;margin:0px auto;width:80px;height:80px;">
  <img src="img/profile3.png" ng-src={{profile.photo}} class="avatar" style="left:0px;right:0px;top:30px;margin:0px auto;width:80px;height:80px;">
  <h1 style="color:white; margin-top:100px; text-align:center; font-size:18px;">{{profile.username}}</h1>
  <p style="color:#ececec; text-align:center; font-size:12px;">{{profile.email}}</p>
  <p style="color:#ececec; text-align:center; font-size:12px;">{{profile.role}}</p>  
  <p style="color:#ececec; text-align:center; font-size:12px;">{{profile.status_badge}}</p>
  <!-- Change password link -->
  <p style="text-align:center; font-size:12px;"><a style="text-decoration:none;color:#ececec;" ng-href="#/app/change_password"><i class="mdi mdi-lock"></i></a></p> 
</div>
<div ng-show="menuProfile.role == 'Referee'" style="background-image: url('img/background-leaderboard.png');padding-top:15px;background-repeat:no-repeat;">
  <img src="img/profile3.png" ng-src={{profile.photo}} class="avatar" style="left:0px;right:0px;top:30px;margin:0px auto;width:80px;height:80px;">
  <h1 style="color:white; margin-top:100px; text-align:center; font-size:18px;">{{profile.username}}</h1>
<!--   <p style="color:#ececec; text-align:center; font-size:12px;">{{profile.email}}</p> -->
  <p style="color:#ececec; text-align:center; font-size:12px;margin-top: -8px;">{{profile.role}}</p>  
  <p style="color:#ececec; text-align:center; font-size:12px;padding-bottom: 30px;">100 Point</p>
</div>
<div ng-if="menuProfile.role == 'Player'" class="card" style="margin-left:30px; margin-right:30px; margin-top:-33px;">
  <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">{{profile.play}} Games</p>
      </div>
    </div>
    <div class="row" style="text-align:center;">
      <div class="col">{{profile.goal}} Goal</div>
      <div class="col">{{profile.assist}} Assist</div>
    </div>
    <div class="row" style="text-align:center;">
      <div class="col">{{profile.yellowCard}} Yellow Card</div>
      <div class="col">{{profile.redCard}} Red Card</div>
    </div>
  </div>
</div>

<div ng-if="menuProfile.role == 'Coach'" class="card" style="margin-left:30px; margin-right:30px; margin-top:-33px;">
  <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">{{teamData.team_play}} Games</p>
      </div>
    </div>
    <div class="row" style="text-align:center;">
      <div class="col">{{teamData.team_win}} W</div>
      <div class="col">{{teamData.team_draw}} D</div>
       <div class="col">{{teamData.team_lose}} L</div>
    </div>
  </div>
</div>

<div ng-if="menuProfile.role == 'Organizer'" class="card" style="margin-left:30px; margin-right:30px; margin-top:-33px;">
  <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p ng-show="profile.createdCompetition === ''" style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">0 Competitions</p>
        <p ng-show="profile.createdCompetition !== ''" style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">{{totalCompetitions}} Competitions</p>
      </div>
    </div>

    <div class="row" style="text-align:center;padding: 0px;">
      <div ng-class="{'activeCompetition':competitionStatus == 'Active'}" class="col" ng-show="profile.createdCompetition === ''" ng-click="showActiveCompetitions()">0 Active</div>
      <div ng-class="{'activeCompetition':competitionStatus == 'Active'}" class="col" ng-show="profile.createdCompetition !== ''" ng-click="showActiveCompetitions()">{{totalActiveCompetitions}} Active</div>

      <div ng-class="{'activeCompetition':competitionStatus == 'Completed'}" class="col" ng-show="profile.createdCompetition === ''" ng-click="showCompletedCompetitions()">0 Completed</div>
      <div ng-class="{'activeCompetition':competitionStatus == 'Completed'}" class="col" ng-show="profile.createdCompetition !== ''" ng-click="showCompletedCompetitions()">{{totalCompletedCompetitions}} Completed</div>
    </div>
  </div>
</div>

<div ng-if="menuProfile.role == 'Manager'" class="card" style="margin-left:30px; margin-right:30px; margin-top:-33px;">
  <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">Current Team</p>
      </div>
    </div>
    <div ng-hide="menuProfile.team === null" class="row" style="text-align:center;">
      <div class="col">Arsenal</div>
    </div>
    <div ng-show="menuProfile.team === null" class="row" style="text-align:center;">
      <div class="col">-</div>
    </div>
  </div>
</div>
<div ng-if="menuProfile.role == 'Manager'" class="card" style="margin-left:30px; margin-right:30px; margin-top:5px;">
   <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">Last Managed Team</p>
      </div>
    </div>
    <div ng-hide="menuProfile.team === null" class="row" style="text-align:center;">
      <div class="col">Chelsea, Liverpool, Monaco</div>
    </div>
    <div ng-show="menuProfile.team === null" class="row" style="text-align:center;">
      <div class="col">-</div>
    </div>
  </div>
</div>

<div ng-if="menuProfile.role == 'Organizer'" class="card" style="margin-left:30px; margin-right:30px; margin-top:5px;">
  <!-- <div class="item item-text-wrap" style="padding: 0px;">
    <div class="row" style="text-align:center;border-bottom:1px solid #ddd;margin-bottom:5px;margin-top:5px;">
      <div class="col" style="text-align: left;">Active Competition</div>
      <div class="col" style="text-align: right;">Sporto Cup</div>
    </div>
     <div class="row" style="text-align:center;border-bottom:1px solid #ddd;margin-bottom:5px;margin-top:5px;">
      <div class="col" style="text-align: left;">Address</div>
      <div class="col" style="text-align: right;">Jalan Kebon Mangga I</div>
    </div>
     <div class="row" style="text-align:center;border-bottom:1px solid #ddd;margin-top:5px;">
      <div class="col" style="text-align: left;">Age</div>
      <div class="col" style="text-align: right;">25 Year Old</div>
    </div>
  </div> -->
  <div class="item item-text-wrap" style="padding:0px;" ng-show="competitionStatus === 'Active'">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">Active Competition</p>
      </div>
    </div>
    <div class="row" style="text-align:center;">
      <div class="col" ng-show="profile.createdCompetition === ''">no active competition</div>
      <div class="col" ng-show="profile.createdCompetition !== ''">
          <p ng-show="totalActiveCompetitions !== 0" ng-repeat="competition in activeCompetitions" ng-click="showCompetition('{{competition}}')" style="text-align: center;padding: 8px;font-size: 15px;font-weight: 600;">{{competition}}</p>
          <p ng-show="totalActiveCompetitions === 0" style="text-align: center;padding: 8px;font-size: 15px;font-weight: 600;">no active competition</p>
      </div>
    </div>
  </div>
  <div class="item item-text-wrap" style="padding:0px;" ng-show="competitionStatus === 'Completed'">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">Completed Competition</p>
      </div>
    </div>
    <div class="row" style="text-align:center;">
      <div class="col" ng-show="profile.createdCompetition === ''">no completed competition yet</div>
      <div class="col" ng-show="profile.createdCompetition !== ''">
          <p ng-show="totalCompletedCompetitions !== 0" ng-repeat="competition in completedCompetitions" ng-click="showCompetition('{{competition}}')" style="text-align: center;padding: 8px;font-size: 15px;font-weight: 600;">{{competition}}</p>
          <p ng-show="totalCompletedCompetitions === 0" style="text-align: center;padding: 8px;font-size: 15px;">no completed competition yet</p>
      </div>
    </div>
  </div>
  <!--  <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">10 Competitions</p>
      </div>
    </div>
    <div class="row" style="text-align:center;">
      <div class="col">1 Active</div>
      <div class="col">9 Completed</div>
    </div>
  </div> -->
</div>

<div ng-if="menuProfile.role == 'Organizer'" ng-show="competitionStatus === ''" ng-click="setDefaultCompStatus()" class="row" style="height: 600px;margin-top: -100px;"></div>
<div ng-if="menuProfile.role == 'Organizer'" ng-show="competitionStatus !== ''" ng-click="setDefaultCompStatus()" class="row" style="height: 550px;margin-top: -200px;"></div>

<!-- <div class="card" style="margin:0px;margin-top:5px;height: 420px;">
  <div class="item item-text-wrap" style="padding: 0px;">
    <div class="row" style="text-align:center;border-bottom:1px solid #ddd;margin-bottom:5px;margin-top:5px;">
      <div class="col" style="text-align: left;">Active Competition</div>
      <div class="col" style="text-align: right;">Sporto Cup</div>
    </div>
     <div class="row" style="text-align:center;border-bottom:1px solid #ddd;margin-bottom:5px;margin-top:5px;">
      <div class="col" style="text-align: left;">Address</div>
      <div class="col" style="text-align: right;">Jalan Kebon Mangga I</div>
    </div>
     <div class="row" style="text-align:center;border-bottom:1px solid #ddd;margin-top:5px;">
      <div class="col" style="text-align: left;">Age</div>
      <div class="col" style="text-align: right;">25 Year Old</div>
    </div>
  </div> 
</div> -->

<div ng-if="menuProfile.role == 'Referee'" class="card" style="margin-left:30px; margin-right:30px; margin-top:-33px;">
  <div class="item item-text-wrap" style="padding:0px;">
    <div class="row">
      <div class="col">
        <p style="text-align:center;border-bottom:1px solid #e1dddd;padding-bottom:2px;color:#000000;">10 Matches Managed</p>
      </div>
    </div>
    <div class="row" style="text-align:center;">
      <div class="col" style="text-align: center;">
        <p style="font-weight: bold;">1</p>
        <p style="font-weight: bold;">Red Cards Given</p>
      </div>
     <!--  <div class="col col-10" style="text-align: center;">|</div> -->
      <div class="col" style="text-align: center;">
        <p style="font-weight: bold;">10</p>
        <p style="font-weight: bold;">Yellow Cards Given</p>
      </div>
    </div>
  </div>
</div>
</ion-content>
</ion-view>