<ion-view view-title="Detail" cache-view="false">
<!-- Back Button -->
<ion-nav-buttons side="left" ng-show="menuProfile.role == 'Coach'">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="backToCompetition()" style="font-size:25px"></button>
</ion-nav-buttons>
<ion-nav-buttons side="left" ng-show="menuProfile.role == 'Organizer'">
<button class="button button-clear icon-button mdi mdi-chevron-left" ng-click="backToHome()" style="font-size:25px"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right" style="margin-top: 13px;">
<a class="button button-clear" ng-show="menuProfile.role == 'Organizer'" ng-click="goToEditCompetition()" style="margin-top: 8px;margin-left: 4px;margin-right: -12px;"><i class="ion-edit" style="font-size: 16px;"></i></a>
<a class="button button-clear" ng-show="menuProfile.role == 'Organizer'" ng-click="delCompetition()" style="margin-top: 8px;"><i class="ion-android-delete" style="font-size: 18px;"></i></a>
</ion-nav-buttons>
<!-- Shadow space -->
<div class="bar item-input-inset" style="border:none;box-shadow: 0 1px 2px #aaa"></div>
<ion-content class="hideScroll" overflow-scroll=false data-tap-disabled="true" style="background-color: #ffffff;">

<!-- Player -->
<div ng-show="menuProfile.role == 'Coach' || menuProfile.role == 'Player' || menuProfile.role == 'Manager'"  style="height:270px;padding-top:15px;background-repeat:no-repeat;">
  <center>
    <div style="width:60px;height:25px;background-color:#4db6ac;padding-top:4px;margin-top:20px;border-top-left-radius: 10%;border-top-right-radius: 10%;">
      <p style="color:#fff;text-align:center; font-size:16px;">{{rTeamLength}}</p>
    </div>
  <center>
  <div style="width:60px;height:50px;background-color:#ffffff;padding-top:4px;border:1px solid #d1d0d0;">
    <p style="color:#444; text-align:center; font-size:16px; margin:0px;">{{competition.comp_numOfTeam}}</p>
    <p style="color:#444; text-align:center; font-size:16px; margin:0px;">Teams</p>
  </div>
  <h1 style="margin-top:15px; text-align:center; font-size:21px;padding:0px;margin-bottom:0px;">{{competition.comp_name}}</h1>
  <p style="text-align:center; font-size:14px;margin-bottom:0px;">{{competition.comp_location}}</p>
  <p style="text-align:center; font-size:14px;">{{competition.comp_start | date:'dd MMM yy'}} - {{competition.comp_finish | date:'dd MMM yy'}}</p>  

  <!-- Register Button Status -->
  <center><button ng-model="registered" ng-show="registered==false" ng-hide="registered==true || registerStatus=='full'" class="button button-balanced" style="margin-top:0px;" ng-click="registerCompetition()" style="margin-top:0px;background-color: #33cd5f;">Register</button></center>

  <center><button ng-model="registered" ng-show="registerStatus == 'full' && registered == false" ng-hide="registerStatus != 'full' || competition.schedule_status != 'On Queue' || competition" class="button button-balanced" style="margin-top:0px;background-color: #ef473a;">Closed (Full)</button></center>

  <center><button ng-model="registered" ng-if="registered==true" ng-show="competition.schedule_status == 'On Queue' || competition.schedule_status == null" ng-hide="competition.schedule_status != null" class="button button-balanced" style="margin-top:0px;background-color:#387ef5;">Registered</button></center>

  <center><button ng-model="registered" ng-if="registered==true" ng-show="competition.schedule_status == 'On Progress'" ng-hide="competition.schedule_status != 'On Progress'" class="button button-balanced" style="margin-top:0px;background-color: #886aea;">Scheduling on progress...</button></center>

  <center><button ng-click="goToCompetitionSchedule('{{competition.id}}')" ng-model="registered" ng-if="registered==true" ng-show="competition.schedule_status == 'Completed'" ng-hide="competition.schedule_status != 'Completed'" class="button button-balanced" style="margin-top:0px;background-color: #4db6ac;">View Schedule</button></center>  

</div>

<!-- Organizer -->
<div ng-show="menuProfile.role == 'Organizer'" style="background-color:white;height:270px;padding-top:15px;background-repeat:no-repeat;">
  <center>
    <div style="width:60px;height:25px;background-color:#4db6ac;padding-top:4px;margin-top:20px;">
      <p style="color:#ffffff; text-align:center; font-size:16px;">{{rTeamLength}}</p>
    </div>
  <center>
  <div style="width:60px;height:50px;background-color:#ffffff;padding-top:4px;border:1px solid #d1d0d0;">
    <p style="color:#444; text-align:center; font-size:16px; margin:0px;">{{competition.comp_numOfTeam}}</p>
    <p style="color:#444; text-align:center; font-size:16px; margin:0px;">Teams</p>
  </div>
  <h1 style="color:#777474; margin-top:15px; text-align:center; font-size:21px;padding:0px;margin-bottom:0px;">{{competition.comp_name}}</h1>
  <p style="color:#6c6868; text-align:center; font-size:14px;margin-bottom:0px;">{{competition.comp_location}}</p>
  <p style="color:#6c6868; text-align:center; font-size:14px;">{{competition.comp_start | date:'dd MMM yy'}} - {{competition.comp_finish | date:'dd MMM yy'}}</p>  
</div>

<ng-map center="current-location" zoom="18" style="height:250px;">
   <!--  <marker position="jalan kebon mangga 11" on-click="myfunc()"></div> -->
      <directions
         draggable="true"
         panel="directions-panel"
         travel-mode="DRIVING"
         origin="current-location"
         destination={{competition.comp_location}}>
      </directions>
</ng-map>
<!-- <div style="background-color:white;height:200px;padding-top:15px;background-repeat:no-repeat;"> -->
</ion-content>
</ion-view>