/* Variables */
/*$black:#33383e*/

/* Empty. Add your own CSS if you like */
/*.hideScroll{
  overflow-y: hidden;
}*/

span.step {
  background: #4db6ac;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{
  font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;
}
html {
  font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;
  font-size: 100%;
}

h1 {
  font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;
  font-size: 6.854em;
}
p {
  word-wrap: break-word;
  font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;
  font-weight: 300;
}

h2 {font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;font-size: 4.236em;}

h3 {font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;font-size: 2.618em;}

h4 {font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;font-size: 1.618em;}

small, .font_small {font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;font-size: 0.618em;}
.disable {
  -webkit-filter: brightness(0); filter: brightness(0);
}
.center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


/*login page*/
.login{
  background-color:#ffffff;
  /*background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/login.jpg");*/
  background-position:center center;
  background-size:cover;
  
}
.login-image{
 /* width:20%;
  height:auto;*/
  width: 40px;
  height: 60px;
  margin:60px 0px 10px 0px;
}
.login-submit{
  background-color:#133f69;
  border-radius:8px;
}
@media(min-width:768px){
  .login-image{
    width:20%;
    height:auto;
    margin:60px 0px;
  }
  .login-list{
    padding:50px 0px;
    width:50%;
  }
  .login-submit{
    width:50% !important;
  }
}

.platform-android input::-moz-placeholder, textarea::-moz-placeholder {
  color: #fff !important;
  font-weight: bold;
}

.platform-android input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff !important;
}

.platform-android input[id="title"]::-webkit-input-placeholder, textarea[id="title"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="compName"]::-webkit-input-placeholder, textarea[id="compName"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="compFee"]::-webkit-input-placeholder, textarea[id="compFee"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="compLocation"]::-webkit-input-placeholder, textarea[id="compLocation"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="compStart"]::-webkit-input-placeholder, textarea[id="compStart"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="compEnd"]::-webkit-input-placeholder, textarea[id="compEnd"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="compTeam"]::-webkit-input-placeholder, textarea[id="compTeam"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="compRegulation"]::-webkit-input-placeholder, textarea[id="compRegulation"]::-webkit-input-placeholder {
  color: #aaa !important;
}

#map{
  height: 200px;
  width: 100%;
  background-color: white !important;
}

input[id="title"]::-moz-placeholder, textarea[id="title"]::-moz-placeholder {
  color: #aaa !important;
}

input[id="compName"]::-moz-placeholder, textarea[id="compName"]::-moz-placeholder {
  color: #aaa !important;
}

input[id="compFee"]::-moz-placeholder, textarea[id="compFee"]::-moz-placeholder {
  color: #aaa !important;
}

.platform-android input[id="comment"]::-webkit-input-placeholder, textarea[id="comment"]::-webkit-input-placeholder {
  color: #aaa !important;
}

.platform-android input[id="search"]::-webkit-input-placeholder, textarea[id="search"]::-webkit-input-placeholder {
  color: #aaa !important;
}

input[id="comment"]::-moz-placeholder, textarea[id="comment"]::-moz-placeholder {
  color: #aaa !important;
}

.list[id="komentar"]{
  margin-bottom: -10px;
}

.item-select select{
  color:#000;
}

ion-buttons{
  box-shadow: 0px 10px 20px #888888 !important;
}

ion-buttons:hover{
  box-shadow: 0px 20px 40px #888888 !important;
  transform:translate(0,-5px) !important;
}

.login-title{
  color:#fff !important;
  font-size:1.618em;
  font-weight: 700;
  padding-top:30%;
}
.item-floating-label, .list .item.item-floating-label{
  border-bottom:1px solid #ccc;
  /*border-bottom:1px solid #cccccc3d;*/
}

.login-form{
  background-color: rgba(3, 18, 24, 0.86);
  border-radius: 4px;
  padding: 20px 20px;
  margin: 10% 0%;
}
.login-logo{
  padding:30px;
}
.login-list,.login-list .item{
  background-color:transparent;
  border:none;
}
.login-list .item input{
  color:#fff;
  /*color: #e8bd76;*/
  font-size:1rem;
  font-weight: 400;
}
.login-list .input-label{
  color:#fff;
  /*color: #ffffff4a;*/
  font-size:1rem;
  font-weight: bold;
}
.loginbutton{
  border:none;
  font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;
  background-color:#fff !important;
  border-radius:3px;
  font-size:1rem;
}
.login-loginbutton{
  border:none;
  font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;
  background-color:#FF7832 !important;
  border-radius:3px;
  font-size:1rem;
}
.login-forgot{
  color:#A5A5A5;
  text-decoration: none;
}

.button-register-competition {
  margin-top: -15px;
  margin-left: 160px;
  border-radius: 50px;
  margin-bottom: 0px; 
  /*background-color: #c39f64;*/
  background-color: #4db6ac;
  color: #ffffff;
  border: none;
    padding: 15px 30px;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    /* margin: 0; */
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),transform .4s cubic-bezier(.25,.8,.25,1);
}

.button-register-competition:hover {
/*  margin-top: 15px;
  margin-left: 160px;
  border-radius: 50px;
  margin-bottom: 0px; */
  /*background-color: #1b3748;*/
/*  background-color: #4d9e96;
  color: #ffffff;*/
}


/*header bar*/
.bar{
  background-color:#4DB6AC !important;
  /*background-color:#1b3748 !important;*/
  box-shadow: none;
}
.bar .title{
  color:#ffffff !important;
  font-family: 'Hind','Roboto','Helvetica Neue',Arial,sans-serif;
  font-weight:600;
}
/*sidemenu*/
.side-menu{
  background-color:#ffffff;
}
.menu .bar.bar-header.expanded{
  /*background-image:linear-gradient(to bottom, rgba(24, 57, 78, 0.42), rgba(24, 57, 78, 0.85)), url("../img/mamakyo.jpg");*/
  background-image:url("../img/background-leaderboard.png");
  background-position:center center;
  background-size:cover;
}
.side-menu a{
  font-size:16px;
}
.menu-bottom{
  bottom:13px;
}
.sidemenu-nama{
  margin:0px;
}
.sidemenu-email{
  font-size:14px;
}
.sidemenu-content{

}
.edit-profile{
  padding:5%;
}
.point-text{
  color:#010101;
}
.gm-style-cc{
  display:none;
}
/*home*/
.home-card{
  background-color:#fff;
  margin:20px 0px;
  padding:1.5rem;
  border-radius:3px;
  box-shadow: 0 1px 2px #aaa;
}
.home-card a{
  text-decoration: none;
}
.card-title{
  color:gray;
  font-size:1.618em !important;
  font-weight:300;
}

.buttons.buttons-right{
  margin-top: 5px;
  margin-right: 5px;
  position: fixed;
}

div.title.title-left.header-item{
  left:0px !important;
  right:0px !important;
}

.bar .title.title-left{
  text-align: center;
}

.green{
/*  background-color:#24afe5;*/
border-right: 2px solid #4db6ac;
border-left: 2px solid #4db6ac;
}

.greenButton{
color:#33cd5f !important;
}

.greyButton{
color:#808a89 !important;
}

.pink{
  color:#f7c2cb;
}

.blue h2, .blue p, .blue h4{
  color:white;
}

.blue-fixed{
  background-color:#24afe5;
  position: fixed; 
  bottom:0;
  z-index: 999999;
  width: 100%;
  padding:2px 0px 15px 0px;
  margin:0
}

.blue-fixed h2, .blue-fixed p, .blue-fixed h4{
  color:white;
}

.margin{
  margin-bottom: 70px;
}

.content-msg {
  height: auto;
  width: auto;
}
.div-left{
  float:left;
  clear:both;
  width: 100%;
}
.bubble-left {
  float:left;
  display: inline-block;
  margin:20px 0px 0px 20px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 250px;
  min-width: 40px;
  color:white;
  padding: 10px;
  background: #4DB6AC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble-left:after {
  content: "";
  position: absolute;
  left: -8px;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #4DB6AC transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.div-right{
  float:right;
  clear:both;
  width: 100%;
}
.bubble-right {
  float: right;
  display: inline-block;
  margin:20px 20px 0px 0px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 250px;
  min-width: 40px;
  padding: 10px;
  color: #4DB6AC;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble-right:after {
  content: "";
  position: absolute;
  right: -8px;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.time-left {
  float:left;
  margin:50px 0px 0px 5px;
  position: relative;
  color:#929596;
}

.time-right {
  float: right;
  margin:50px 5px 0px 0px;
  position: relative;
  color: #929596;
}

.read-left {
  float:left;
  margin:20px 0px 0px 20px;
  position: relative;
  color:#929596;
}

.read-right {
  float: right;
  margin:25px -30px 0px 0px;
  position: relative;
  color: #929596;
}

.date-left {
  float:unset;
  clear:unset;
  margin-left:125px;/*-60px*/
  margin-top:25px;
  background-color:#b2b2b2; /*#82808078*//*#b2b2b2*/
  color:white;
  padding: 5px 12px 3px 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  text-align: center;
  width: 115px;
}

.date-right {
  float:unset;
  clear:unset;
  margin-left:125px;/*140px*/
  margin-top:25px;
  background-color:#b2b2b2; /*#82808078*//*#b2b2b2*/
  color:white;
  padding: 5px 12px 3px 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  text-align: center;
  width: 115px;
}

.sameWithUsername {
  color:#4db6ac;
}

.notSameWithUsername {
  color:#000000;
}

.tab-item{
  max-width: none;
}

.bar{
  font-size: 23px !important;
  height: 56px;
}

.header-item{
  padding-top: 7px;
}

.button-filter{
  padding-top: 7px !important;
  margin-right: -15px !important;
  font-size: 20px !important;
}

.button-search{
  padding-top: 7px !important;
  font-size: 23px !important;
}

.card img{
  box-shadow: none;
}

.mdi-plus{
  font-size: 28px !important;
}

.content-border{
  border-bottom:0px !important;
}

.list-edit{
  margin-bottom: inherit;
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.seeMore{
  color: #24afe5;
}

a.subdued{
  font-size: 12px;
}

.active{
  color: #4DB6AC;
  /*border: 0px !important;*/
  border-bottom: 4px solid white !important;
}

.activeIcon{
  color: #4DB6AC !important;
  border-bottom: 2px solid #4db6ac !important;
  font-weight: bold;
}

.activeTab{
  color: #4DB6AC !important;
  /*color: #ffffff !important;*/
  font-weight: bold;
  border-top: 1px solid #4DB6AC !important;
}

.activeTab-text{
  color: #ffffff !important;
  font-weight: bold;
  border-top: 1px solid #4DB6AC !important;
}

.top-tab-active{
  color: #ffffff !important;
  font-weight: bold;
  border-top: 1px solid #4DB6AC !important;
}

.tabActive{
  color: #ffffff !important;
  font-weight: bold;
}

.register{
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;*/
  border-bottom: 1px solid #cccccc3d !important;
  margin-bottom: 7px !important;
}

.cursor{
  cursor: pointer;
}

.scroll-bar-indicator
{
  display: none;
}

.headermodal
{
  display: none;
  z-index: -1;
}

.scorer-left{
  text-align: left;
}

.scorer-right{
  text-align: right;
}

/* auto scrolling for chat function */
[scroll-glue-top],
[scroll-glue-bottom],
[scroll-glue]{
  height: 100px;
  overflow-y: scroll;
  border: 1px solid gray;
}

[scroll-glue-left],
[scroll-glue-right]{
  width: 100px;
  overflow-x: scroll;
  border: 1px solid gray;
  padding: 10px;
}

[scroll-glue-left] span,
[scroll-glue-right] span{
  border: 1px solid black;
}

/* team */
.team-font-25 {
  font-size: 25px !important;
}

.team-min-height-0 {
  min-height: 0;
}

.team-content {
  background-color:#f8f8f8; 
  z-index:0;
}

.team-manager-es {
  padding-top:200px;
  text-align: center;
}

.team-bg {
  background-image: url('img/background-leaderboard.png');
  padding-top:15px;
  background-repeat:no-repeat;
  padding-bottom:10px;
}

.team-logo {
  left:0px;
  right:0px;
  top:30px;
  margin:0px auto;
  width:72px;
  height:72px;
}

.team-abr {
  color: #4db6ac;
  text-align: center;
  width: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: -90px;
  margin-top: 16px;
  font-weight: bold;
  font-size: 20px;
  height: 70px;
  padding-top: 25px;
}

.team-name {
  color:white;
  margin-top:100px;
  text-align:center;
  font-size:18px;
  margin-bottom: 4px;
}

.team-user-profile {
  color:#ececec;
  text-align:center;
  font-size:12px;
  margin-bottom:0px;
}

.team-center-hire-coach {
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 10px;
}

.team-btn-hire-coach {
  color:#ffffff;
  text-align:center; 
  font-size:12px;
  background-color:#4db6ac;
  padding:8px;
  border-radius:20px;
}

.team-padding-0 {
  padding: 0px;
}

.team-tab-btn {
  color:#897777;
  padding:10px;
  background-color:white;
  border:none;
  border-bottom:1px solid #e0dfdf;
}

/*.popup-success .popup-title {
  color: #28a54c;
  font-size: 17px;
  font-weight: 500;
}*/

/*.popup-error .popup-title {
  color: #ef473a;
  font-size: 17px;
  font-weight: 500;
}
*/

.popup-success .popup-title {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background-color: #28a54c;
  /*background-color: #387ef5;*/

}

.popup-success .popup-buttons {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background-color: #28a54c;
}

.popup-success .popup-head {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background-color: #28a54c;
  border-bottom: 1px solid #eeeeee69;
}

.popup-success .popup-body {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background-color: #28a54c;
}

.popup-success .button.button-positive {
  border-color: transparent;
  background-color: #444;    
  color: #fff;
}

.popup-error .popup-title {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background-color: #ef473a;
}

.popup-error .popup-buttons {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background-color: #ef473a;
}

.popup-error .popup-head {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background-color: #ef473a;
  border-bottom: 1px solid #eeeeee69;
}

.popup-error .popup-body {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background-color: #ef473a;
}

.popup-error .button.button-positive {
  border-color: transparent;
  background-color: #444;    
  color: #fff;
}